test.*
test/*
domain.txt
domains.txt
jsSource
linked.txt
secretsOnly.txt
urlsOnly.txt
*.com
domain*
2m-subdomains*
httparchive_subdomains_*
assetnote*
2m-subdomains.txt
assetnoteSubdomains.txt
httparchive_subdomains_2024_05_28.txt
result*
ipRanges.txt
best-dns-wordlist*
best-dns-wordlist.txt
nmapNormal
r
nmapGrepable
nmapXml
range
dom
organisedResults
i
ztest*
withcyber
*bak
thecy*
bak*
test*
indeed*